*{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    background-color: #FFCD9E;
    width: 100%;
}
.left {
    font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 54px;
padding : 83px 136px;
}
.heading {
    width: 562px;
height: 108px;
top: 83px;
left: 136px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 54px;
text-align: left;
color: #282828;
}
.subheading {
    width: 495px;
height: 81px;
top: 219px;
left: 136px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
text-align: left;
color: #484848;
margin-top: 20px;
}
.sh1 {
    width: 227px;
height: 81px;
top: 315px;
left: 136px;
font-family: Inter;
font-size: 20px;
font-weight: 800;
line-height: 32px;
text-align: left;
color: #282828;
margin-top: 40px;
}
.bottomContent{
display: flex;
flex-direction: row;
}
.mail{
    
width: 300px;
height: 64px;
gap: 0px;
opacity: 0px;
border-radius: 8px 8px 8px 8px;
font-family: Inter;
font-size: 20px;
border: 4px solid #000000;
}
.registered{
    width: 250px;
    height: 64px;
        border-radius: 8px 8px 8px 8px;
   
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24.2px;
text-align: center;
color : #FFFFFF;
background-color: #282828;
;
}
.free{
    width: 344px;
height: 61px;
top: 479px;
left: 134px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 25.6px;
text-align: center;
color: #FFFFFF;
margin-top: 20px;
}
.right{
    width: 575px;
height: 575px;
margin-top: 20px;

}
.footer{
    width: 100%;
    height: 298px;
    background-color: #282828;
    color : white;
    display : flex;
    justify-content: space-between;

}
.leftpart{
    margin-top: 50px;
    margin-left: 100px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.rightpart{
    margin-top: 50px;
    margin-right: 100px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}
.leftpart>div{
    padding-top: 15px;
}
.rightpart>div{
    padding-top: 15px;
}
.footerimages{
    display: flex ;
    flex-direction: row-reverse;
}
.companymail{
    margin-top: 20px;
}